<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Director</title>
</head>

<body>
    <h2>Add New Director</h2>
    <form method="POST" action="{{ url_for('new_director') }}">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" required>

        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" required>

        <button type="submit" class="btn">Add Director</button>
    </form>
</body>

</html>
